[
	{
		xlsx2erl, [
			{header_def, [
				{1, comment, 		string}
				,{2, name, 			atom}
				,{3, data_type, 	atom}
				,{4, is_key, 		int}
				,{5, export_erl, 	int}
				,{6, erl_funs,  	list} 
				,{7, data_begin,    null}
			]}
			,{mod, [
				{export_erl, erl_funs, xlsx2erl_write, [erl_path, hrl_path]}
			]}
		]
	}
].